# Ignore Python Bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Virtual Environments
.venv/*
.env/
.idea/*

.idea/misc.xml

# Ignore Data content but include project structure
data/frames/*
!data/frames/.gitkeep

data/videos/*
!data/videos/.gitkeep

# Other directories to keep clean
sessions/*
!sessions/.gitkeep

temp/*
!temp/.gitkeep

# Ignore Secret Configs
src/config/secrets.yaml

# Ignore System Files
.DS_Store
Thumbs.db
/ui_test/athlete_1.mp4
